{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap For Beginners</title>
{#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}"/>
    <link rel="stylesheet" href="{% static "css/owl.theme.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/component.css" %}"/>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>

    <style>

        img.one {
            height: auto;
            width: auto;
        }

        img.two {
            height: 100px;
            width: 100%;
        }
        </style>

</head>

<body>

<header class="main-header">
  <div class="bg" style="display: none;"></div>

    <div class="row top">
      <div class="columns">
        <h1 class="title clearfix" role="banner">
          <a href="{% url 'index' %}" role="banner" title="Deli - Blockshop Shopify Theme"><img src="{% static "assets/logo.png" %}"> </a>
        </h1>
      </div>


      <div class="search-account columns">
        <div class="menu">
          <a class="searchbar-open" href="#">Search<span aria-hidden="false" class="glyphicon glyphicon-search
            "></span></a>
          <a class="account-open" href="#">Account<span aria-hidden="true" class="glyphicon glyphicon-user">
            </span></a>
        </div>

        <div class="searchbar-container" style="display:none">
          <form action="/search" method="get" role="search">
            <input type="text" placeholder="Search store..." class="search-box hint text">
          </form>
          <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>

        <div class="account-container" >
          <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'registration_register' %}" id="
            customer_register_link">Sign up</a>
          <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>
    </div>


{#    mega menu starts#}
     <div class="main">
         <div class="row">
             <div class="columns menu-container">
                 <nav id="cbp-hrmenu" class="cbp-hrmenu">
                        <ul>
                            <a href="{% url 'index' %}">Home</a>
                            <li>
                                <a href="#">Products</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4>Learning &amp; Games</h4>
                                            <ul>
                                                <li class="columns large-3"><a href="#">Catch the Bullet</a></li>
                                                <li><a href="#">Snoopydoo</a></li>
                                                <li><a href="#">Fallen Angel</a></li>
                                                <li><a href="#">Sui Maker</a></li>
                                                <li><a href="#">Wave Master</a></li>
                                                <li><a href="#">Golf Pro</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Utilities</h4>
                                            <ul>
                                                <li><a href="#">Gadget Finder</a></li>
                                                <li><a href="#">Green Tree Express</a></li>
                                                <li><a href="#">Green Tree Pro</a></li>
                                                <li><a href="#">Wobbler 3.0</a></li>
                                                <li><a href="#">Coolkid</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Education</h4>
                                            <ul>
                                                <li><a href="#">Learn Thai</a></li>
                                                <li><a href="#">Math Genius</a></li>
                                                <li><a href="#">Chemokid</a></li>
                                            </ul>
                                            <h4>Professionals</h4>
                                            <ul>
                                                <li><a href="#">Success 1.0</a></li>
                                                <li><a href="#">Moneymaker</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4>Education &amp; Learning</h4>
                                            <ul>
                                                <li><a href="#">Learn Thai</a></li>
                                                <li><a href="#">Math Genius</a></li>
                                                <li><a href="#">Chemokid</a></li>
                                            </ul>
                                            <h4>Professionals</h4>
                                            <ul>
                                                <li><a href="#">Success 1.0</a></li>
                                                <li><a href="#">Moneymaker</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Entertainment</h4>
                                            <ul>
                                                <li><a href="#">Gadget Finder</a></li>
                                                <li><a href="#">Green Tree Express</a></li>
                                                <li><a href="#">Green Tree Pro</a></li>
                                                <li><a href="#">Holy Cannoli</a></li>
                                                <li><a href="#">Wobbler 3.0</a></li>
                                                <li><a href="#">Coolkid</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Games</h4>
                                            <ul>
                                                <li><a href="#">Catch the Bullet</a></li>
                                                <li><a href="#">Snoopydoo</a></li>
                                                <li><a href="#">Fallen Angel</a></li>
                                                <li><a href="#">Sui Maker</a></li>
                                                <li><a href="#">Wave Master</a></li>
                                                <li><a href="#">Golf Pro</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Applications</a>
                            </li>
                        </ul>
                    </nav>
                  </div>

                <div class="columns cart-container">
                    <div class="cart">
                        <div class="show-for-medium-up">
                            <a class="cart-link" href="{% url 'shopping-cart-show' %}">Cart
                                <span class="number-wrapper hide">(<span class="number">0</span>)</span>
                                <span aria-hidden="true" class="fa fa-shopping-cart"></span></a>
                        </div>
                        <div class="recently-added">
                          <table width="100%">
                              <thead>
                                <tr>
                                  <td colspan="3">Recently Added</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td class="cart-item">
                                        <a href=""><img src="" alt=""></a>
                                    </td>
                                    <td class="cart-detail">
                                        <h2><a href=""></a></h2>
                                    </td>
                                    <td class="cart-price">
                                        <span class="money" data-currency-cad="$12.95 CAD" data-currency="CAD">

                                        </span>
                                    </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                    <td class="items-count"><a href="/cart"><span class="number"></span> Items</a></td>
                                    <td colspan="2" class="text-right all-caps"><strong>Total
                                        <span class="total-price money" style="margin-left:5px;">

                                        </span></strong>
                                    </td>
                                </tr>
                              </tfoot>
                            </table>
                            <div class="row">
                              <div class="checkout columns">
                                <a class="button" href="/cart">Go to Checkout</a>
                              </div><!-- #cart-meta -->
                            </div>
                            <div class="error" style="display: none;">
                              <p>The item you just added is unavailable. Please select another product or variant.</p>
                            </div>
                        </div>



                    </div>
                </div>
             </div>
         </div>
     </div>
</header>


{% block content %}

{% endblock %}

<!-- footer starts here  -->
<div class="main-footer">
    <div class="row">
        <div class="col-md-4 center">
            <h2 class="title">Store</h2>
            <div class="content">
                <p class="text">Designed with love by
                    <a title="Shopify Theme Store" href="" target="_blank">
                        <strong>Troop Themes</strong>
                    </a>
                    <a href="" title="Blockshop Shopify Theme" target="_blank">
                        <strong>Get the Theme!</strong>
                    </a>
                </p>
                <div class="powered-by">
                    <a target="_blank" rel="nofollow" href="">This website runs on Shopify</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 center">
            <h2 class="title">Info</h2>
            <div class="content">
                <ul class="footer-nav plain-list" role="navigation">
                  <li><a href="/search" title="Search">Search</a></li>
                  <li><a href="/pages/theme-features" title="Theme Features">Theme Features</a></li>
                  <li><a href="/pages/features" title="Theme Settings">Theme Settings</a></li>
                  <li><a href="/pages/contact" title="Contact">Contact</a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-4 center">
            <h2 class="title">Subscribe</h2>
            <div class="content" id="mailing-list-module">
              <p>Signup to get the latest news...</p>
              <form action="" name="" class="" target="_blank">
                <input type="email" placeholder="Your Email" name="EMAIL" id="email-input">
                <span><input type="submit" class="button prefix" value="OK" name="subscribe" id="email-submit"></span>
              </form>
              <div class="social-follows">
                <a class="social" title="Facebook" aria-hidden="true" target="_blank" href="https://www.facebook.com/troopthemes"><i class="fa fa-facebook md"></i></a>
                <a class="social" title="Twitter" aria-hidden="true" target="_blank" href="https://twitter.com/troopthemes"><i class="fa fa-twitter md"></i></a>
                <a class="social" title="Instagram" aria-hidden="true" target="_blank" href="https://instagram.com/troopthemes"><i class="fa fa-instagram md"></i></a>
                <a class="social" title="Pinterest" aria-hidden="true" target="_blank" href="/"><i class="fa fa-pinterest md"></i></a>
                <a class="social" title="Google Plus" aria-hidden="true" target="_blank" href="/"><i class="fa fa-google-plus md"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="payment-options">

                  <li>
                    <i class="fa fa-cc-paypal" style="font-size:36px"></i>
                  </li>

                  <li>
                    <i class="fa fa-cc-visa" style="font-size:36px"></i>
                  </li>

                  <li>
                    <i class="fa fa-cc-amex" style="font-size:36px"></i>
                  </li>

              </ul>
        </div>
    </div>
</div>


		<!-- Latest compiled and minified JavaScript -->

	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/image-tooltip.js' %}"></script>
    <script src="{% static 'js/externaljs.js' %}"></script>
    <script src="{% static 'js/cbpHorizontalMenu.min.js' %}"></script>
<script>
    $(function() {
				cbpHorizontalMenu.init();
			});
</script>
</body>
</html>