<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap For Beginners</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/react.js"></script>
    <script src="../static/js/react-dom.js"></script>
    <script src="../static/js/browser.js"></script>

    <style>

        img.one {
            height: auto;
            width: auto;
        }

        img.two {
            height: 100;
            width: 100%;
        }
        </style>

</head>

<body>

<header class="main-header">
  <div class="bg" style="display: none;"></div>

    <div class="row top">
      <div class="columns">
        <h1 class="title clearfix" role="banner">
          <a href="index" role="banner" title="Deli - Blockshop Shopify Theme"><img src="../static/assets/logo.png"> </a>
        </h1>
      </div>


      <div class="search-account columns">
        <div class="menu">
          <a class="searchbar-open" href="#">Search<span aria-hidden="false" class="glyphicon glyphicon-search
          	"></span></a>
          <a class="account-open" href="#">Account<span aria-hidden="true" class="glyphicon glyphicon-user">
          	</span></a>
        </div>

        <div class="searchbar-container" style="display:none">
          <form action="/search" method="get" role="search">
            <input type="text" placeholder="Search store..." class="search-box hint text">       
          </form>
          <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>

        <div class="account-container" >
          <a href="login">Log in</a> or <a href="signup" id="
            customer_register_link">Sign up</a>
          <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>
    </div>

    <div class="bottom-row">
      <div class="row">
        <div class="columns menu-container">
          <div class="main-menu">
            <nav role="navigation" class="widescreen clearfix">
              <ul class="font-nav">
                <li class="nav-item"><a class="nav-item-link" href="#">Home</a></li>
                <li class="dropdown"><a class="catalogue" href="#">Catalogue<span class="caret"></span></a>
                  <ul class="sub-nav catalog" style="display:none">
                    <li class="row">
                      <div class="sub-nav-item columns large-3">
                        <a href="collections"><h3 class="title"><span>Collections</span></h3></a>
                        <ul>           
                          <li><a href="all_products">All</a></li>
                          <li><a href="">Chocolates &amp; Candy</a></li>
                        </ul>
                      </div>

                      <div class="sub-nav-item columns large-3">
                        <a class="disabled" href="#"><h3 class="title"><span>Price</span></h3></a>
                        <ul>
                          <li><a href="">Under $10</a></li>
                          <li><a href="">$10 - $20</a></li>
                        </ul>
                      </div>
                      <div class="sub-nav-item columns large-3">
                        <a class="disabled" href="#"><h3 class="title"><span>Special Collections</span></h3></a>
                        <ul>
                          <li><a href="">On Sale</a></li>
                          <li><a href="">New</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li> 
                <li class="nav-item"><a class="nav-item-link" href="#">Blog</a></li>
              </ul>
            </nav>
          </div>
          <div class="main-menu pull-right">
            <nav role="navigation" class="widescreen clearfix">
              <ul class="font-nav">
                <li class="nav-item"><i class="fa fa-shopping-cart"></i><a class="nav-item-link" href="#">Cart(<span>1</span>)</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- <div class="columns cart-container">
          <div class="cart">
            <div class="show-for-medium-up">
              <a class="cart-link" href="/cart">Cart <span class="number-wrapper hide">(<span class="number">0</span>)</span><span aria-hidden="true" class="glyph cart"></span></a>
              <div class="recently-added">
                <table width="100%">
                  <thead>
                    <tr>
                      <td colspan="3">Recently Added</td>
                    </tr>
                  </thead>  
                  <tbody>
                  </tbody>

                  <tfoot>
                    <tr>
                      <td class="items-count"><a href="/cart"><span class="number">0</span> Items</a></td>
                      <td colspan="2" class="text-right all-caps"><strong>Total <span class="total-price" style="margin-left:5px;">$0.00</span></strong></td>
                    </tr>
                  </tfoot>    
                </table>
                <div class="row"> 
                  <div class="checkout columns">
                    <a class="button" href="/cart">Go to Checkout</a>
                  </div><!-- #cart-meta -->
                <!-- </div>
                <div class="error">
                  <p>The item you just added is unavailable. Please select another product or variant.</p>
                </div>
              </div>
            </div>
            <div class="show-for-small hide-for-ie9-down">
              <div class="recently-added-mask hide"></div>
              <div class="recently-added mobile">
                <a aria-hidden="true" class="close glyph cross"></a>  
                <div class="row">
                  <div class="columns">
                    <p><strong class="all-caps">Recently Added</strong></p>
                    <p class="mobile-item"></p>
                    <p class="items-count"><a href="/cart"><span class="number">0</span> Items</a></p>
                    <p><strong class="all-caps">Total <span class="total-price" style="margin-left:5px;">$0.00</span></strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="checkout columns">
                    <a class="button" href="/cart">Go to Checkout</a>
                  </div><!-- #cart-meta -->
                <!-- </div>

                <div class="error">
                  <p>The item you just added is unavailable. Please select another product or variant.</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="mobile-tools">
          <a  class="bars"><i class="fa fa-bars"></i></a>
          <a href=""><i class="fa fa-search"></i></a>
          <a href="/"><i class="fa fa-user"></i></a>
          <a href="/"><i class="fa fa-shopping-cart"></i></a>

        </div>


      </div>
    </div>

    <div class="main-menu-dropdown-panel" style="display: none;">
      <div class="row" style="height: 215px;">

        <div class="sub-nav-item columns large-3">
          <a href="collections"><h3 class="title"><span>Collections</span></h3></a>
          <ul>           
            <li><a href="all_products">All</a></li>
            <li><a href="">Chocolates &amp; Candy</a></li>
          </ul>
        </div>

        <div class="sub-nav-item columns large-3">
          <a class="disabled" href="#"><h3 class="title"><span>Price</span></h3></a>
          <ul>
            <li><a href="#">Under $10</a></li>
            <li><a href="#">$10 - $20</a></li>
          </ul>
        </div>

        <div class="sub-nav-item columns large-3">
          <a class="disabled" href="#"><h3 class="title"><span>Special Collections</span></h3></a>
          <ul>
            <li><a href="#">On Sale</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mobile-menu" style="display: none;">
      <nav role="navigation" class="widescreen clearfix">
        <ul class="font-nav">
            <li class="nav-item"><a class="nav-item-link" href="#">Home</a></li>
            <li class="dropdown"><a  href="#" id="clickable-dropdown">Catalogue<span class="caret"></span></a>

                <li  class="row sub-nav catalog" style="display:none" id="mobile-nav">

                  <div class="sub-nav-item columns large-3">
                    <a href=""><h3 class="title"><span>Collections</span></h3></a>
                    <ul>
                      <li><a href="all_products">All</a></li>
                      <li><a href="">Chocolates &amp; Candy</a></li>
                    </ul>
                  </div>

                  <div class="sub-nav-item columns large-3">
                    <a class="disabled" href="#"><h3 class="title"><span>Price</span></h3></a>
                    <ul>
                      <li><a href="">Under $10</a></li>
                      <li><a href="">$10 - $20</a></li>
                    </ul>
                  </div>
                  <div class="sub-nav-item columns large-3">
                    <a class="disabled" href="#"><h3 class="title"><span>Special Collections</span></h3></a>
                    <ul>
                      <li><a href="">On Sale</a></li>
                      <li><a href="">New</a></li>
                    </ul>
                  </div>
                </li>

            </li>
            <li class="nav-item"><a class="nav-item-link" href="#">Blog</a></li>
          </ul>
        </nav>
    </div>


</header>



{% block content %}{% endblock %}


<!-- footer starts here  -->


<footer class="main-footer">

    <div class="row bottom">
      <div class="column-1 large-4 columns">
        <h2 class="title">Store</h2>
        <div class="content">
          <p class="text">Designed with love by <a title="Shopify Theme Store" href="" target="_blank"><strong>Troop Themes</strong></a><br><br>

<a href="" title="Blockshop Shopify Theme" target="_blank"><strong>Get the Theme!</strong></a><br></p>
          <div class="powered-by"><a target="_blank" rel="nofollow" href="">This website runs on Shopify</a></div>
        </div>

      </div>
      <div class="column-2 large-4 columns">
        <h2 class="title">Info</h2>
        
        <div class="content">
          <ul class="footer-nav plain-list" role="navigation">            
            <li><a href="/search" title="Search">Search</a></li>
            <li><a href="/pages/theme-features" title="Theme Features">Theme Features</a></li>
            <li><a href="/pages/features" title="Theme Settings">Theme Settings</a></li>
            <li><a href="/pages/contact" title="Contact">Contact</a></li>           
          </ul> 
        </div>
      </div>


     


      <div class="column-3 large-4 columns">
        
          
          
            <h2 class="title">Subscribe</h2>
          

          <div class="content" id="mailing-list-module">
            
            
              <p>Signup to get the latest news...</p>
            

            
              <form action="" name="" class="" target="_blank">
                <input type="email" placeholder="Your Email" name="EMAIL" id="email-input">
                <input type="submit" class="button prefix" value="OK" name="subscribe" id="email-submit">
              </form>
            
          

          <div class="social-follow">
            <a title="Facebook" aria-hidden="true" target="_blank" href="https://www.facebook.com/troopthemes"><i class="fa fa-facebook-square fa-2"></i></a>
            <a title="Twitter" aria-hidden="true" target="_blank" href="https://twitter.com/troopthemes"><i class="fa fa-twitter-square"></i></a>
            <a title="Instagram" aria-hidden="true" target="_blank" href="https://instagram.com/troopthemes"><i class="fa fa-instagram"></i></a>
            <a title="Pinterest" aria-hidden="true" target="_blank" href="/"><i class="fa fa-pinterest-square"></i></a>  
            <a title="Google Plus" aria-hidden="true" target="_blank" href="/"><i class="fa fa-google-plus-square fa-2"></i></a>

            
          </div>
        </div> 
      </div>
    </div>

   
        <div class="row">
          <div class="columns">
              <ul class="payment-options">
                
                  <li>
                    <i class="fa fa-cc-paypal" style="font-size:36px"></i>
                  </li>
                
                  <li>
                    <i class="fa fa-cc-visa" style="font-size:36px"></i>
                  </li>
                
                  <li>
                    <i class="fa fa-cc-amex" style="font-size:36px"></i>
                  </li>
                
              </ul>
          </div>
        </div>

  </footer>

		<!-- Latest compiled and minified JavaScript -->

	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script type="text/babel" src="../static/js/all_product.js"></script>
    <script src="../static/js/externaljs.js"></script>

</body>	
</html>