{% extends "base.html" %}
{% block content %}
<section class="main-content">
  <header class="row">
    <div class="left columns large-6">
      <h1 class="page-title">Collections</h1>
    </div>
  </header>

  <div class="row">
    <div class="collections-grid clearfix">
      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>

      <div class="collection-item col-sm-12 col-md-4 col-lg-4">
        <a href="/collections/under-10">
          <div class="image-wrapper">
            <div class="hover"></div>
            <img src="../static/assets/jpeg-2_medium.jpeg" alt="$0 - $10">
          </div><!-- .coll-image-wrap -->
          <div class="caption" >
            <div class="bg"></div>
            <div class="inner">
              <div class="title">
                $0 - $10
              </div>
              <p class="product-count">7 Products</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>
{% endblock %}