
{% extends "base.html" %}

{% block content %}
    <section class="main-content">

    <!--   Slider -->
    <section class="slider dark">
        <div class="row">
            <div id="owl-demo" class="owl-carousel">
                 <div class="item"><img src="../static/assets/fullimage1.jpg" style="width:100%" alt="The Last of us"></div>
                 <div class="item"><img src="../static/assets/fullimage2.jpg" style="width:100%" alt="GTA V"></div>
                 <div class="item"><img src="../static/assets/fullimage3.jpg" style="width:100%" alt="Mirror Edge"></div>
            </div>
        </div>
    </section>




    <!-- product slider -->


    <div class="product-slider dark length--9">
      <div class="row header">
        <div class="columns">
         <h2 class="font-headings clearfix">
          <a href="#" title="">Featured Products</a></h2>
        </div>
      </div>

      <div class="raw content">

        <div id="owl-demo2" class="owl-carousel">

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="single_products"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="clearfix"></div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="single_products"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="single_products"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="single_products"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="single_products"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </section>
{% endblock %}