{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section class="main-content">
        <div class="container">
             <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>
              </ol>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="title-vendor">
                    <h1 class="page-title" itemprop="name">Jack Ruddy Cocktail Co Small Tonic Batch</h1>
                    <h2 class="vendor" itemprop="brand"><a href="/collections/vendors?q=The%20Deli%20Co" title="">The Deli Co</a>
                    </h2>
                </div>
                <div class="prices">
                    <div >
                      <p>
                          <span class="actual-price money" itemprop="price" data-currency-cad="$32.00 CAD" data-currency="CAD">
                              $32.00 CAD</span>&nbsp;<span class="compare-price">was<span class="money" data-currency-cad="$60.00 CAD" data-currency="CAD">$60.00 CAD</span></span>
                      </p>
                    </div>
                </div>
                <div class="cart">
                    <select class="selectpicker">
                      <option>1 Pieces</option>
                      <option>2 Pieces</option>
                      <option>3 Pieces</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4 center">
                <div class="zoomIMG">
                    <div class="image">
                        <img  src="{% static 'assets/drink-06_26d09fb3-5e65-418d-83cf-f964e2fe164e_medium.jpeg' %}" alt="Some awesome text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="description">
                    <p>
                        <span style="line-height: 1.2;">
                            This Small Batch Tonic is essentially a quinine concentrate. It's designed to pair with your favorite
                            Gin or Vodka, and is then stretched with soda water to make a bright, light, refreshing highball.
                        </span>
                    </p>

                    <p>With a backbone of quinine, culled from the Cinchona Tree, we've added a delicate mix of botanicals, and then sweetened it with real cane sugar; the final product is a complex mixture that introduces a fine bitterness to any cocktail, and a great pairing with the botanicals of the finest Gins in the world.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}