{% load static %}
{% extends "base.html" %}

{% block content %}

    <div class="wrap" style="background-image: {% static 'assets/bg1.png' %}">
        <div class="content">
            <img src="images/error-img.png" title="error" />
            <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
            <a href="#">Back To Home</a>
            <div class="copy-right">
                <p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
        </div>
    </div>

{% endblock %}