{% extends "base.html" %}
{% block content %}
   <section class="main-content">
  <header>
    <div class="row show-for-medium-up visible-md visible-lg">
      <div class="columns">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/collections">Collections</a></li>  <li><a href="/collections/featured-products">Featured Products</a></li>
          <li>Long grain white rice</li>
        </ul>
      </div>
    </div>


{#    <div class="previous-next row">#}
{#      <div class="previous col-md-6">#}
{#        <a class="left" title="Previous Product" href="/collections/featured-products/products/rococo-sea-salt-wafers"><span aria-hidden="true" class="glyph arrow-left"></span> Previous Item</a>#}
{#      </div>#}
{##}
{#      <div class="next col-md-6">#}
{#        <a class="right" title="Next Product" href="/collections/featured-products/products/austin-east-ciders-gold-top">Next Item <span aria-hidden="true" class="glyph arrow-right"></span></a>#}
{#        <div class="border-decoration show-for-large-up"></div>#}
{#      </div>#}
{#    </div>#}


  </header>

  <article class="row">

      <div class="col-sm-6 col-md-6 col-lg-3">

        <div data-position="title-vendor">
          <h1 class="page-title" itemprop="name">Long grain white rice</h1>
          <h2 class="vendor" itemprop="brand"><a href="" title="">The Deli Co</a></h2>
        </div>

        <div data-position="prices">
          <div class="prices">
            <div itemprop="offers" itemscope="" itemtype="">
              <p>
                <span class="actual-price money" itemprop="price" data-currency-usd="$9.28 USD" data-currency="USD">$9.28 USD</span>
                &nbsp;
                <span class="compare-price"></span>
              </p>
            </div>
          </div>
        </div>

        <div class="hidden-xs">
          <form class="cart-form custom" action="" method="post">


            <div class="quanity-cart-row clearfix">

              <div class="quantity">
                <label for="quantity">Quantity</label>
                <input id="quantity" type="number" name="quantity" min="1" value="1">
              </div>

              <div class="add-to-cart">
                <input type="submit" name="add" id="add" value="Add to Cart" class="purchase button">
              </div>
            </div>
          </form>


        </div>

        <div data-position="thumbs">
          <div class="thumbs">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div data-position="photos">
          <div class="photos">
            <div class="container clearfix" style="height: auto; width: auto; position: relative; overflow: hidden; outline-width: 0px;">
              <a class="photo active" href="" data-zoom="" rel="gallery" data-image-id="346382162" style="display: inline;">
                <img src="../static/assets/longgrainrice_medium.jpeg"  alt="Long grain white rice">
              </a>
              <!-- <img src="assets/products.jpeg" class="zoomImg" style="position: absolute; top: -114.519px; left: -16.3715px; opacity: 0; width: 1024px; height: 1024px; border: none; max-width: none;"> -->
            </div>
          </div>
        </div>
      </div>

      <div class="visible-xs col-sm-6 col-md-6 col-lg-6">
          <form class="cart-form custom" action="" method="post" style="margin-bottom: 30px">


            <div class="quanity-cart-row clearfix">

              <div class="quantity">
                <label for="quantity">Quantity</label>
                <input id="quantity" type="number" name="quantity" min="1" value="1">
              </div>

              <div class="add-to-cart">
                <input type="submit" name="add" id="add" value="Add to Cart" class="purchase button">
              </div>
            </div>
          </form>


        </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <div data-position="description">
          <div class="description">
            <div itemprop="description" class="rte-content">
              <div class="tabs-wrapper horizontal">
                <ul class="tabs-horizontal headings">
                  <li class= 'active'>
                    <div class="trigger">Description<div class="bg"></div></div>
                  </li>
                  <li>
                    <div class="trigger">About Tabs<div class="bg"></div></div>
                  </li>
                </ul>

                <ul class="tabs content">
                  <li class= 'active'>
                    <p>Mighty rice is available in two varieties, taking flavour and quality from the volcanic soil, clean air and pure rainwater of Mauritius. It comes in 15oz and 500g re-sealable bags.<span class="slide txt_2i">There's long-grain white rice with its delicate flavour and tempting fragrance. Or long-grain brown rice, which has the same delicious grains but keeps its outer bran layer for a nutty flavour and more robust texture.</span></p>
                  </li>
                  <li>
                    <p>If you require more detailed product descriptions, you can add tabs to any RTE (rich text editor) area in the theme for:
                    </p>
                    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
                    <span style="line-height: 1.2;">- Product description</span><br>
                    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
                    <span style="line-height: 1.2;">- Collection description</span><br>
                    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
                    <span style="line-height: 1.2;">- Pages</span><br>- Blog posts<br><br>For more information on using tabs, refer to the <strong><a href="http://blockshop-theme-deli.myshopify.com/pages/theme-documentation" target="_blank">theme documentation</a>.&nbsp;</strong>
                    <p>&nbsp;</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
  </article>
  <!-- product slider -->


  <div class="product-slider dark length--9">
      <div class="row header">
        <div class="columns">
         <h2 class="font-headings clearfix">
          <a href="#" title="">Featured Products</a></h2>
        </div>
      </div>

      <div class="raw content">

        <div id="owl-demo2" class="owl-carousel">

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="#"><img class="hov" src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="#"><img src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="#"><img src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="#"><img src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item " style="display: block;">
              <div class="image-wrapper" style="opacity: 1;">
                <a href="#"><img src="../static/assets/jpeg-2_medium.jpeg" alt="Owl Image"></a>
              </div>
              <div class="">
                <p class="title"><a href="#">Rococo Sea Salt Wafers</a></p>
                <p class="vendor"><a href="" title="">The Deli Co</a></p>
                <p class="price"><span class="money" data-currency-cad="$12.95" data-currency-usd="$9.84 USD" data-currency="USD">$9.84 USD</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
{% endblock %}